/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-top: 60px;
  padding: 0;
  
}

/* Container for the contact form */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
  /* background: url("/Users/manikandan/Desktop/rent-2/rent/rent/src/Assets/bg/contact.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
 
/* Box for the form and contact information */
.contact-form-box {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

/* Heading for the form */
.contact-form-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

/* General styling for form fields */
.contact-form-field {
  margin-bottom: 20px;
}

/* Labels */
.contact-form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

/* Input and select fields */
.contact-form-field input,
.contact-form-field select,
.contact-form-field textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-form-field select,
.contact-form-field input {
  height: 40px;
}

.contact-form-field textarea {
  height: 100px;
  resize: none; /* Prevent resizing */
}

/* Submit button */
.contact-form-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.contact-form-button:hover {
  background-color: #0056b3;
}

/* Contact information */
.contact-info {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.contact-info p {
  margin: 5px 0;
}
.con-abo{
 margin-left: 800px;
 font-size: medium;
}