/* Form container styling */
.form-container {
    max-width: 500px; /* Increased width for more fields */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Label styling */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.bhu{
    font-size: medium;
}

/* Input, select, and file input styling */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Button styling */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container button:hover {
    background-color: #45a049;
}

/* Add Property button styling */
.add-property-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-property-button:hover {
    background-color: #0056b3;
}
